/* Base styles */
.page-container {
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
}

.main-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.section {
  background-color: hsl(240, 4.8%, 95.9%);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-container {
  max-width: 100%;
  margin: 0 auto;
}

.text-container {
  text-align: center;
  margin-bottom: 2rem;
}

.main-heading {
  font-size: 2rem;
  font-weight: bold;
  color: hsl(240, 5.9%, 10%);
  margin-bottom: 1rem;
}

.sub-heading {
  font-size: 1rem;
  color: hsl(240, 3.8%, 45%);
  letter-spacing: 0.9px;
  line-height: 1.3rem;
}

.result-card {
  background-color: hsl(0, 0%, 100%);
  padding: 1.75rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-content {
  text-align: center;
}

.result {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.red {
  color: hsl(359, 100%, 78%);
}
.green {
  color: hsl(145, 100%, 68%);
}

.result-description {
  font-size: 1rem;
  color: hsl(240, 5.9%, 10%);
  margin-bottom: 1.5rem;
  letter-spacing: 0.9px;
  line-height: 1.3rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.custom-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: hsl(240, 5.9%, 10%);
  color: hsl(0, 0%, 98%);
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: hsl(240, 5.9%, 8%);
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .main-heading {
    font-size: 2rem;
  }

  .sub-heading {
    font-size: 1rem;
  }

  .percentage {
    font-size: 4rem;
  }

  .custom-button {
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .main-heading {
    font-size: 1.75rem;
  }

  .sub-heading {
    font-size: 0.9rem;
  }

  .percentage {
    font-size: 3rem;
  }

  .custom-button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}
